body{
    position: relative;
    overflow-x: hidden;
    color: azure;
    background: black;
    
}

*{
    font-size: 17px;
}

.head_row{
    padding-top: 50px;
    padding-bottom: 10px;
}

.welcome_head{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 30px;
}

.welcome_head a{
    font-size: 45px;
    color: azure;
    text-shadow: 0 0 4px white;
}

.welcome_head a:hover{
    color: white;
    text-shadow: 0 0 7px white;
}

.row2{
    max-width: 80%;
    min-width: 50%;
    width: 60% !important;
    padding: 0 40px !important;
}

.main_container{
    background: black;
    /* height: 100vh; */
    background-image: linear-gradient(#000000e3, #00000056) , url('../images/covid_back_image.jpg') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
::-webkit-scrollbar-track {
background: #000000;
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(255, 255, 255);
}

.main{
    /* height: 100vh; */
    
}

.stats_row{
    padding: 40px 20px;
    width: 80%;
    margin: auto;
}

.stats_box{
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 6px white;
    transition: .2s all;
}

.stats_head{
    padding-bottom: 5px;
}


.chatbox{
    /* animation: floating 1s linear 10; */
    position: absolute;
    bottom: 15px;
    right: 15px;
}

@keyframes floating{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}

.heading{
    /* padding-top: 120px; */
    width: 100%;
    text-align: center;
    font-size: 50px !important;
    color: white;
    text-shadow: 0 0 4px white;
    /* padding-bottom: 10px; */
}

.wrap{
    font-size: 50px;
}




.navbar {
    transition: background-color 200ms linear;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(black 0%, black 50% , transparent 100%);
}

.nav-link , .btn-logout{
    color: white !important;
    font-size: 17px;
}

.log_reg{
    color: #1eee67 !important;
}

.nav-colored{
    background-color: rgba(0, 0, 0, 0.801);
}

.nav-transparent{
    background-color: transparent;
}

.team-btn{
    color: white !important;
}

.team-btn:focus{
    outline: 0;
    border: 0;
}

.btn-logout{
    transition: .2s all;
    color: rgb(228, 2, 2) !important;
    /* background-color: rgba(199, 0, 0, 0.548); */
}

.btn-logout:hover{
    color: red;
    border: 1px solid rgba(255, 255, 255, 0.849);
    border-radius: 2px;
}


.u_name{
    color: rgba(255, 255, 255, 0.849);
    font-size: 17px;
}

